.search-stack {
  padding: 15px;
  background-color: #b1b3b3; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-stack:hover {
  background-color: #ced2d6;
  color: rgb(166, 26, 26);
}

.vignette-effect {
  position: absolute;    
  top: 0;
  left: 0;
  width: 100%;          
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 9999;
}

.search-scroll::-webkit-scrollbar {
  width: 10px;
}

.search-scroll::-webkit-scrollbar-thumb {
  background-color: #5a5c5e;
  border-radius: 10px;
}

.search-scroll {
  scrollbar-width: thin;
  scrollbar-color: #5a5c5e transparent;
}

.article {
  position: relative;
}

.article::before {
  content: "\1F4CC"; /* Unicode for paperclip */
  position: absolute;
  left: 45%;
  top: 0;
  transform: translateY(-50%) rotate(-60deg);
  font-size: 40px; /* Adjust size of the paperclip */
}

@font-face {
  font-family: 'RansomNote';
  src: url('/ransom.ttf') format('truetype');
}

.ransom-note {
  font-family: 'RansomNote', sans-serif !important;
  font-size: 55px !important;
  letter-spacing: 2px !important;
}

.font{
  font-family: 'Special Elite', serif !important;
}

