.crime-tape {
  position: absolute;
  width: 180px;
  height: auto;
  opacity: 0.85;
  pointer-events: none;
  z-index: 10;
}

.tape-top-left {
  top: 25%;
  left: -45%;
  transform: rotate(-45deg) scaleX(2.7);
  transform-origin: top left;
}

.tape-bottom-right {
  top: -15%;
  right: -17%;
  transform: rotate(48deg) scaleX(2.7) translate(70%, 70%);
  transform-origin: bottom right;
}

.blood-splat {
  position: absolute;
  width: 200px; /* bigger size */
  height: auto;
  opacity: 0.85;
  pointer-events: none;
  z-index: 5;
}
